<section class="auth-form">
  <form>

    <div class="auth-form-field" role="none">
      <form-field>
        <form-field-label>Usuário ( e-mail )</form-field-label>
        <input FormFieldInput type="text" name="email" aria-label="Email do usuário" autofocus/>
      </form-field>
    </div>

    <div class="auth-form-field" role="none">
      <form-field>
        <form-field-label>Senha</form-field-label>
        <input FormFieldInput type="password" name="password" aria-label="Senha do usuário"/>
      </form-field>
    </div>

    <div class="auth-form-btn" role="none">
      <shared-button
        type="submit"
        isFullSize="true"
      >Acessar</shared-button>
    </div>

  </form>
</section>
