<section class="prescriptions-list">
  <header class="prescriptions-list-header">
    <img src="https://img.icons8.com/cotton/64/000000/checklist--v2.png" alt="" aria-hidden="true" role="none" width="24" height="24">
    <h1>Prescrições realizadas</h1>
  </header>

  <section class="prescriptions-list-group">

    <header class="prescriptions-list-group-header">
      <h1>16</h1>
      <h4>Out</h4>
      <footer class="prescriptions-list-group-header-footer">
        2019
      </footer>
    </header>

    <ul class="prescriptions-list-group-itens">
      <li class="prescriptions-list-group-itens-item">
        <header role="none" class="prescriptions-list-group-itens-item-header">
          <h1>Paciente: </h1>
          <small class="prescriptions-list-group-itens-item-header-fulldate">
            16/10/2019 às 16:55:35
          </small>
        </header>
        <ol class="list">
          <li>
            Medicamento
          </li>
          <li>
            Medicamento
          </li>
        </ol>
      </li>
      <li class="prescriptions-list-group-itens-item">
        <header role="none" class="prescriptions-list-group-itens-item-header">
          <h1>Paciente: </h1>
          <small class="prescriptions-list-group-itens-item-header-fulldate">
            16/10/2019 às 16:55:35
          </small>
        </header>
        <ol class="list">
          <li>
            Medicamento
          </li>
          <li>
            Medicamento
          </li>
        </ol>
      </li>
    </ul>

  </section>

  <section class="prescriptions-list-group">

      <header class="prescriptions-list-group-header">
        <h1>16</h1>
        <h4>Out</h4>
        <footer class="prescriptions-list-group-header-footer">
          2019
        </footer>
      </header>

      <ul class="prescriptions-list-group-itens">
        <li class="prescriptions-list-group-itens-item">
          <header role="none" class="prescriptions-list-group-itens-item-header">
            <h1>Paciente: </h1>
            <small class="prescriptions-list-group-itens-item-header-fulldate">
              16/10/2019 às 16:55:35
            </small>
          </header>
          <ol class="list">
            <li>
              Medicamento
            </li>
            <li>
              Medicamento
            </li>
          </ol>
        </li>
        <li class="prescriptions-list-group-itens-item">
          <header role="none" class="prescriptions-list-group-itens-item-header">
            <h1>Paciente: </h1>
            <small class="prescriptions-list-group-itens-item-header-fulldate">
              16/10/2019 às 16:55:35
            </small>
          </header>
          <ol class="list">
            <li>
              Medicamento
            </li>
            <li>
              Medicamento
            </li>
          </ol>
        </li>
      </ul>

    </section>

</section>
