<section class="medicine-list">
  <header class="medicine-list-header">
    Medicamentos adicionados à receita
  </header>

  <ol class="medicine-list-items">

    <li class="medicine-list-items-desc">
      <h1>Nome do Medicamento</h1>
      <div class="medicine-list-itens-desc-infos" role="none">
        <ul>
          <li>
            <strong role="none">Posologia: </strong>
            <span role="none">Posologia </span>
          </li>
          <li>
            <strong role="none">Via de Administração: </strong>
            <span role="none">administração </span>
          </li>
        </ul>
      </div>
    </li>

    <li class="medicine-list-items-desc">
        <h1>Nome do Medicamento</h1>
        <div class="medicine-list-itens-desc-infos" role="none">
          <ul>
            <li>
              <strong role="none">Posologia: </strong>
              <span role="none">Posologia </span>
            </li>
            <li>
              <strong role="none">Via de Administração: </strong>
              <span role="none">administração </span>
            </li>
          </ul>
        </div>
      </li>

  </ol>

</section>
