ul.consulta-list{
    width:100%;
    list-style:none;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
    margin-bottom:30px;
}
ul.consulta-list li{
    display:flex;
    flex-direction:column;
}

ul.consulta-list li strong{
    margin-top:10px;
    font-size:16px;
    color:#444;
}
ul.consulta-list li span{
    font-size:14px;
    color:#999;
}
form {
    display:flex;
    flex-direction: column;
}
form input {
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:2px;
    height:45px;
    padding:0 15px;
    font-size:16px;
}
form input {
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:2px;
    height:45px;
    padding:0 15px;
    font-size:16px;
}
div#checkboxs {
    display:flex;
    flex-direction: row;
    overflow:auto;
    margin-bottom:20px;
}
div#checkboxs input {
margin:0 18px;
}

form label{
    font-size:12px;
    color:#444;
    font-weight: bold;
    margin-bottom: 8px;
}
button.btn{
    border:0;
    border-radius:4px;
    width:100%;
    height:42px;
    padding:0 20px;
    font-size:16px;
    margin-bottom:20px;
    font-weight:bold;
    background:#7159c1;
    color:#fff;
    cursor:pointer;
}

