<section class="medicine-info">
  <ul class="medicine-info-list">
    <li class="medicine-info-list-item">
      <span class="medicine-info-list-item-key" role="none">Medicamento: </span>
      <span class="medicine-info-list-item-value" role="none">Nome do medicamento</span>
    </li>
    <li class="medicine-info-list-item">
      <span class="medicine-info-list-item-key" role="none">Posologia: </span>
      <span class="medicine-info-list-item-value" role="none">Posologia</span>
    </li>
    <li class="medicine-info-list-item">
      <span class="medicine-info-list-item-key" role="none">Via de administração: </span>
      <span class="medicine-info-list-item-value" role="none">administração</span>
    </li>
  </ul>
</section>

<!-- nome, posologia e via de administração. -->
