<header class="dashboard-header">
  <div class="dashboard-header-content" role="none">
    <figure class="dashboard-header-picture">
      <img [src]="profile.picture" alt="Doctor Profile Photo">
    </figure>
    <div class="dashboard-header-infos" role="none">
      <h1 class="dashboard-header-infos-title">
        <small class="dashboard-header-infos-title-prefix">{{profile.prefix_name}}</small>
        {{profile.name}}
      </h1>
      <h4 class="dashboard-header-infos-desc">
        {{profile.specialty}}
      </h4>
      <p class="dashboard-header-infos-info">
        <small>CRM:  {{profile.crm}}</small>
      </p>
    </div>
  </div>
</header>
