<section class="medicine-status">

  <p class="medicine-status-confirmation">
    Confirme as informações do medicamento e confirme para adiciona-lo à receita.
  </p>

  <section class="medicine-status-alert">
    <header class="medicine-status-alert-header">
      <h1>Alerta de gravidade na interação</h1>
    </header>
    <section class="medicine-status-alert-content">
      <header class="medicine-status-alert-content-header">
        Lista de fármacos envolvidos
      </header>
      <ol class="medicine-status-alert-content-list">
        <li class="medicine-status-alert-content-list-item">Fármaco</li>
        <li class="medicine-status-alert-content-list-item">Fármaco</li>
      </ol>
    </section>
    <footer class="medicine-status-alert-footer">
      <header class="medicine-status-alert-footer-title"><small>Ocorrencia:</small> <strong>Grave</strong> </header>
      <p class="medicine-status-alert-footer-desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda fuga repellat facilis consectetur dolores perferendis voluptas pariatur eaque.
      </p>
    </footer>
  </section>

</section>
